@use 'vars' as *;

body {
  font-family: $main-font;
}

img {
  max-width: 80%;
  height: auto;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  padding-inline-start: 0px;
  padding-left: 0;
}